<li class="section__main-item">
  <a routerLink="['/film', film.id]" class="section__main-link">
    <img
      [src]="film.poster"
      [alt]="film.title"
      class="section__main-poster"
      width="264"
      height="376"
      loading="lazy"
    />
    <h2 class="section__main-film-title">
      <strong>{{ film.title }}</strong
      >, {{ film.originalTitle }}
    </h2>
    <p class="section__main-film-description">{{ film.category }}</p>
    <span class="section__main-film-rating">{{ film.rating }}</span>
  </a>
</li>
