<section class="section container">
  <div class="film-card">
    <div class="film-card__inner">
      <div class="film-card__main hidden-tablet">
        @if (film) {
        <div class="film-card__left">
          <img
            class="film-card__left-image"
            [src]="film.poster"
            alt="film"
            width="460"
            height="656"
            loading="lazy"
          />
        </div>

        <div class="film-card__center">
          <div class="film-card__center-header">
            <h1 class="film-card__center-header-title">
              <strong>{{ film.title }},</strong> {{ film.originalTitle }}
            </h1>
            <p class="film-card__center-header-description">
              {{ film.category }}
            </p>
            <span class="film-card__center-header-rating">{{
              film.rating
            }}</span>
          </div>
          <div class="film-card__center-description">
            {{ film.description }}
          </div>
          <button class="film-card__center-button button">Смотреть</button>
        </div>
        }
      </div>

      <div class="film-card__main visible-tablet">
        @if (film) {
        <div class="film-card__left">
          <img
            class="film-card__left-image"
            src="./images/wrapper.jpeg"
            alt=""
            width="460"
            height="656"
            loading="lazy"
          />
        </div>

        <div class="film-card__center">
          <div class="film-card__center-header">
            <h1 class="film-card__center-header-title">
              <strong>Марсианин,</strong> The Martian 2015
            </h1>
            <p class="film-card__center-header-description">
              Фантастика, приключения
            </p>
            <span class="film-card__center-header-rating">7.8</span>
          </div>
          <div class="film-card__center-description">
            <p>
              Марсианская миссия «Арес-3» в процессе работы была вынуждена
              экстренно покинуть планету из-за надвигающейся песчаной бури.
              Инженер и биолог Марк Уотни получил повреждение скафандра во время
              песчаной бури. Сотрудники миссии, посчитав его погибшим,
              эвакуировались с планеты, оставив Марка одного.
              <br />
              <br />

              Очнувшись, Уотни обнаруживает, что связь с Землёй отсутствует, но
              при этом полностью функционирует жилой модуль. Главный герой
              начинает искать способ продержаться на имеющихся запасах еды,
              витаминов, воды и воздуха ещё 4 года до прилёта следующей миссии
              «Арес-4».
            </p>
          </div>
          <button class="film-card__center-button button">Смотреть</button>
        </div>
        }
      </div>

      <app-sidebar></app-sidebar>
    </div>
  </div>
</section>
