$container-width: 1120px;
$container-padding-x: 10px;

$color-dark: #000000;
$color-gray: #868686;
$color-gray-alt: #aaaaaa;
$color-light: #ffffff;
$color-accent: #ff4949;
$color-rating: #04a31e;

$border-radius: 5px;
$border-radius-large: 10px;

$font-family: "Inter", sans-serif;

$transition-duration: 0.2s;
