<div class="section__right sidebar">
  <h2 class="sidebar__title">Подборки фильмов и сериалов</h2>
  <ul class="sidebar__list">
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">
        <h3 class="sidebar__block-title">Топ-250</h3>
        <p class="sidebar__block-description">
          Подборка фильмов и сериалов с наивысшими оценками зрителей
        </p>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">
        <h3 class="sidebar__block-title">Посмеяться от души</h3>
        <p class="sidebar__block-description">
          Подборка комедий, которые помогут расслабиться после работы
        </p>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">
        <h3 class="sidebar__block-title">Запутанный сюжет</h3>
        <p class="sidebar__block-description">
          Триллеры и приключения с запутанным и интересным сюжетом. Невозможно
          оторваться!
        </p>
      </a>
    </li>
  </ul>
  <div class="sidebar__copyright">
    <p class="sidebar__copyright-title">
      © ООО "Неткликс", <time datetime="2024">2024</time>
    </p>
    <a href="#" class="sidebar__copyright-link">Политика конфиденциальности</a>
    <a href="#" class="sidebar__copyright-link"
      >Обработка персональных данных</a
    >
  </div>
</div>
